body {
  margin: 0;
  padding: 0;
  background: #f1d0d3;

}

.App {
  text-align: center;
}

.App-link {
  color: #71dafb;
}

.grid-container {


  grid-gap: 5%;
  justify-content: center;
  text-align: center;
  word-spacing: 1px;

}

.title {
  grid-gap: 3%;
  display: flex;
  justify-content: center;
  word-spacing: 10px;
}

.videoPlayer {
  display: grid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  width: 520px;
  height: 350px;
  justify-content: center;
  cursor: pointer;
}




.ReactHlsPlayer {
  display: grid;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  border-radius: 10px 10px;
  width: 620px;
  height: 350px;
  justify-content: center;
  cursor: pointer;

}







@media only screen and (max-width: 768px) {

  /* For mobile phones: */
  .grid-container {
    display: grid;
    grid-gap: 5px;
    width: 60%;
    height: 70%;
    margin: 35px 5px 5px 85px;

  }



}

@media only screen and (max-width: 568px) {

  /* For mobile phones: */
  .grid-container {
    display: grid;
    grid-gap: 5%;
    width: 20%;
    height: 35%;
    margin: 35px 5% 10% 45%;
    font-size: 16px;
    word-spacing: 2px;
  }

  @media only screen and (max-width: 390px) {

    /* For mobile phones: */
    .grid-container {

      padding-right: 80px;
      padding-left: 12px;
      
      font-size: 12px;
      word-spacing: 2px;
    }

    .videoPlayer {
      
      margin-top: auto;
     
      margin-right: 50px  ;
      margin-bottom: auto;
      border-radius: 10px;
      width: 220px;
      height: 250px;
      justify-content: center;
      cursor: pointer;
    }
    
    
    
    
    .ReactHlsPlayer {
      display: grid;
      margin-top: 10px;
      margin-left: 15%;
      margin-right: auto;
      margin-bottom: 20px;
      border-radius: 10px 10px;
      width: 250px;
      height: 250px;
      justify-content: center;
      cursor: pointer;
    
    }
    

  }

}